<div class='modal-container'>
    <h1 class='modal-day-title' mat-dialog-title >{{date}}</h1>
</div>
<div *ngIf="type === 'show'">
  <div mat-dialog-content>
    <div class='content'>
      <p class='modal-title-content'>Reminders</p>
      <i class="material-icons modal-icon-add" (click)='typeAdd()'>
        add_circle
      </i>
    </div>
  </div>
  <div >
    <div>
      <mat-list role="list" *ngIf="reminders" >
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport " id="style-1">
          <div *cdkVirtualFor="let reminder of reminders" class="viewport-item">
            <div class='item'>{{reminder.text}}</div>
            <i class="material-icons" [ngStyle]="applyStyles()">
              fiber_manual_record
            </i>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-list>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data.day.dayName" cdkFocusInitial>Ok</button>
  </div>
</div>
<div *ngIf="type === 'add'">
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="reminder.text" placeholder="Input a reminder!">
  </mat-form-field>
  <br>
  <p>Select a reminder color</p>
  <input [(colorPicker)]="reminder.color" [style.background]="reminder.color" />
  <br>
  <br>
  <button mat-raised-button (click)="addReminder()">Add</button>
</div>
