.day-box {

  display: inline-block;
  text-align: left;
  height: 100%;
  width: 13.97%;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: gray;
  // font-weight: bold;
}

.day-week{
  background-color: #3f71c2;
  border-color: #3f71c2;
  position: relative;
  color: white;
  // font-weight: bold;
}

.day-weekend{
  background-color: gainsboro;
}

.day-box.day-weekend.day-month{
  color: dodgerblue
}

.day-month{
  color: black;
}

.centered-day{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reminders{
  width: 100%;
  height: 10.5px;
  font-size: 10px;
  position: relative;
  float: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.day{
  position: relative;
  float: left;
}

.more-reminders{
  color: white;
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 2px;
  margin-top: 3px;
  font-size: 10px;
  background: #3f71c2;
  border-radius: 50%;
}
